<section>
    <div class="container">

        <div class="carousel">
            <div class="nav nav-left">
                <div class="ion-chevron-left carousel-arrow-icon-left">
                    {{ 'icon-chevron-yellow-left.svg' | asset_url | img_tag }}
                </div>
            </div>

            <ul class="carousel-content">
                {% for product in collections.favorite.products  %}
                <li class="slide" href="{{ product.url }}">

                    <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="">
                    <span>{{ product.title }}</span>
                    <span>{{ product.price | money }}</span>
                    <span>{{ product.tags }}</span>
                    <a href="#">shop now</a>

                </li>
                {% endfor %}
            </ul>

            <div class="nav nav-right">
                <div class="ion-chevron-right carousel-arrow-icon-right">
                    {{ 'icon-chevron-yellow-right.svg' | asset_url | img_tag }}
                </div>
            </div>
        </div>

    </div>
</section>