<section class="instagram--feed">
    <ul class="instagram--list">
        <div class="instagram--hash-tag">#KOISKI</div>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-7.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-8.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-9.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-10.png?v=1590906946" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-11.png?v=1590906946" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-12.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-13.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-14.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-15.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-16.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-17.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
        <li class="instagram--list--item">
            <a class="instagram--title-link" href="#">
                Shop the look <span>{{ 'icon-chevron-small-white.svg' | asset_url | img_tag }}</span>
            </a>
            <img src="https://cdn.shopify.com/s/files/1/0400/2699/6896/files/Instagram-18.png?v=1590906945" alt=""
                width="100%" height="100%" />
        </li>
    </ul>
</section>